doctype html
html
    head(lang="ru")
        include base/meta.pug
        include base/styles.pug
        title New Project
    body
        p Don't forget to track time! 
        include base/scripts.pug
